build*/
test/

.vs/
.vscode/
.cache/
.idea/
.git/
._.*
._*

*.swp
*.bat
*.bin
*.exe
*.gguf
*.log
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz

cmake-build-*
sd/io-test
sd/sd-loras
sd/sd-control-net
sd/sd-embeddings
sd/sd-dictionary
sd/sd-base-model
engine/onnxruntime-*
engine/onnxruntime/*

CMakeSettings.json
