build*/
test/

.vscode/
.cache/
.idea/
.git/
._.*
._*

*.swp
*.bat
*.bin
*.exe
*.gguf
*.log
*.aux
*.fls
*.fdb_latexmk
*.synctex.gz

cmake-build-*
io-test
sd-bash-examples
sd-control-lora
sd-control-net
sd-embeddings
sd-models
sd-video
engine
